<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="kz.zvezdochet.editor.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

   <extension-point id="editorList" name="Точка расширения справочника" schema="schema/editorList.exsd"/>
   <extension-point id="editorPage" name="Точка расширения редактора справочника" schema="schema/editorPage.exsd"/>
   <extension
         point="kz.zvezdochet.editor.editorList">
      <editorListElement
            class="kz.zvezdochet.editor.extension.PlaceExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.ElementExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.AspectExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.AspectConfigurationExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.AspectTypeExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.CardKindExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.CardTypeExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.CategoryExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.CrossExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.DegreeExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.DirectionHouseExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.HalfsphereExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.HouseExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.PlanetAspectExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.PlanetExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.PlanetHouseExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.PlanetSignExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.PositionTypeExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.ProtractionExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.SignExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.SquareExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.SynastryAspectExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.SynastryHouseExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.SynastrySignExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.YinYangExtension">
      </editorListElement>
      <editorListElement
            class="kz.zvezdochet.editor.extension.ZoneExtension">
      </editorListElement>
   </extension>
   <extension
         point="kz.zvezdochet.editor.editorPage">
      <editorPageElement
            class="kz.zvezdochet.editor.extension.DictionaryExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.PlaceExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.ElementExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.AspectConfigurationExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.AspectExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.AspectTypeExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.CardKindExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.CardTypeExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.CategoryExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.CrossExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.DegreeExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.DirectionHouseExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.HalfsphereExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.HouseExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.PlanetAspectExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.PlanetExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.PlanetHouseExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.PlanetSignExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.PositionTypeExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.ProtractionExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.SignExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.SquareExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.SynastryAspectExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.SynastryHouseExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.SynastrySignExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.YinYangExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.ZoneExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.DirectionAspectExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.GenderTextExtension">
      </editorPageElement>
      <editorPageElement
            class="kz.zvezdochet.editor.extension.DiagramExtension">
      </editorPageElement>
   </extension>

</plugin>
